@font-face{
  font-family: "NanumGothicCoding";
  src: url("assets/fonts/NanumGothicCoding-Regular.ttf");
}
@font-face{
  font-family: "NanumGothicCoding";
  src: url("assets/fonts/NanumGothicCoding-Bold.ttf");
  font-weight: bold;
}
@font-face{
  font-family: "AppleGaramond";
  src: url("assets/fonts/AppleGaramond.ttf");
}
@font-face{
  font-family: "AppleGaramond";
  src: url("assets/fonts/AppleGaramond-Bold.ttf");
  font-weight: bold;
}
@font-face{
  font-family: "AppleGaramond";
  src: url("assets/fonts/AppleGaramond-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: "AppleGaramond";
  src: url("assets/fonts/AppleGaramond-Italic.ttf");
  font-style: italic;
}


body{
  background-color: #eae5e0;
  font-family: "AppleGaramond", monospace;
  margin-bottom: 50px;
  margin: 3em;
}

#logo-header{
  margin-bottom: 1em;
  padding: 0px;
}
.sidebar-button{
  margin: 4px;
  font-size: 12px;
  padding: 4px;
}
#sidebar-button-container{
  width: fit-content;
}
#homepage-art{
  height: auto;
  width: 700px;
}
#homepage-text{
  text-align: center;
  font-size: calc(0.8em + 1.2vmin);
  font-weight: bold;
  font-style: italic;
  width: 60%;
  left: 25%;
  top: 25%;
}
#homepage-text-static{
  text-align: center;
  font-weight: normal;
}
.pg-header-text{
  font-size: 16px;
  padding-left: 8px;
}
.thumbnail-img{
  height: 18em;
  width: 20em;
  object-fit: cover;
}
.thumbnail-img:hover{
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
}

/*project*/
.projectDisplay{
  background-color: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.projectHeader{
  font-weight: bold;
}
.projectSummary{
  font-weight: normal;
  font-size: 18px;
}
.projectText{
  background-color: none;
  padding: 15px;
}
.techUsed{
  font-family: "NanumGothicCoding", monospace;
  font-size: 15px;
}
.projectLinks{
  background-color: none;
}
.projectIcon{
  display: inline-block;
  margin: 0px 5px;
}
.learnMore{
  border: 1px solid black;
  width: 110px;
  padding: 5px;
  font-size: 21px;
  text-align: center;
  border-radius: 20px;
}
a{
  color: black;
  text-decoration: none;
}
/*sprites*/
.github{
  background: url('assets/sprites.svg') no-repeat -191px -12px;
	width: 24px;
	height: 24px;
}
.link{
  background: url('assets/sprites.svg') no-repeat -59px -12px;
	width: 24px;
	height: 25px;
}
.instagram{
  background: url('assets/sprites.svg') no-repeat -147px -12px;
	width: 24px;
	height: 25px;
}
